{% extends 'base.html' %}

{% block title %}
Despre
{% endblock %}

{% block body %}
<div class="container">
    <br><br>
    <h5>Autor: Sas Dorin</h5>
    <h5>Email: sasdorin78@gmail.com</h5>
    <h5>Data nașterii: 3 august 1991</h5>
    <h5>Instituția: Liceul Teoretic "Mihai Eminescu"</h5>
    <h5>Funcția: profesor informatică</h5>
    <h5>Vechime: 7 ani</h5>
    <h5>Localitatea: Slobozia Mare</h5>
    <h5>Raionul: Cahul</h5>
    <h5>Țara: Republica Moldova</h5>
    <br><br>
    <h5>Data elaborării acestui program: 20 august 2021</h5>

</div>
{% endblock %}