{% extends 'base.html' %}

{% block title %}
Pagina Principala
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h4>Introduceti textul dumneavoastra aici</h4>
    </br></br>
    <form method="post">
        <textarea name="text" id="text" class="form-control" placeholder="Introduceti textul dumneavoastra"></textarea></br>
        <input type="submit" class="btn btn-success" value="Apasa" row="18">
    </form>
    {% if request.args.get("nota") %}
    <h1>{{request.args.get("nota")}}</h1>
    {% endif %}
</div>
{% endblock %}